@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap&subset=cyrillic-ext);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev {
  position: absolute;
  bottom: 85px;
  left: 50px;
  background-image: url(/img-slider/Arow-left.svg);
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  z-index: 800;
  font-size: 0;
}

.slick-next {
  position: absolute;
  bottom: 85px;
  right: 50px;
  background-image: url(/img-slider/Arow-right.svg);
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  z-index: 800;
  font-size: 0;
}

body {
  font-family: Montserrat;
  color: #151515;
  font-size: 14px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__inner {
  padding-top: 20px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: #283238;
  transition: all 0.3s ease;
}
.header__logo:hover {
  transition: all 0.3s ease;
  color: #F41240;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list-link {
  text-transform: uppercase;
  margin-left: 30px;
  color: #0D0D0D;
  transition: 0.3s ease;
}
.header__list-link:hover {
  color: #F41240;
}
.header__rutube-link {
  display: block;
  width: 52px;
  height: 50px;
}
.header__rutube-link:hover {
  display: none;
}
.header__rutube-link svg:hover {
  display: none;
}
.header__rutube-link-2 {
  display: none;
}
.header__rutube-link-2:hover {
  display: block;
}

.main {
  margin-top: 20px;
  margin-bottom: 140px;
}
.main__video-video {
  position: absolute;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__title {
  padding-top: 150px;
  position: relative;
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #fff;
  text-align: center;
  top: 30%;
  bottom: 0;
}
.main__title span:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 47.8%;
  background-color: #DC0000;
  border-radius: 50%;
  transform: translateX(-100%);
  width: 12px;
  height: 12px;
}
.main__contact {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  align-items: center;
}
.main__contact-tel {
  font-weight: 500;
  font-size: 33px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #fff;
}
.main__contact-tel span {
  color: #929292;
}
.main__button {
  transition: all 0.6s ease;
  border-radius: 50%;
  margin-left: 270px;
  margin-right: 200px;
}
.main__button:hover {
  transition: all 0.6s ease;
  background-color: #fff;
}
.main__button:hover path {
  stroke: #0D0D0D;
  transition: all 0.6s ease;
}
.main__mail-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #fff;
  transition: all 0.3s ease;
}
.main__mail-link:hover {
  color: #DC0000;
}
.video__title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}
.video__items {
  display: flex;
}
.video-slider {
  max-width: 1920px;
  height: 500px;
}
.video-slider__item {
  margin-right: 25px;
  margin-left: 30px;
}
.video-slider__video {
  border-radius: 20px;
  min-width: 100%;
  margin-bottom: 10px;
}
.video-slider__link {
  margin-left: 10px;
  font-weight: 400;
  font-size: 26px;
  color: #151515;
  transition: all 0.3s ease;
}
.video-slider__link:hover {
  color: #DC0000;
  transition: all 0.3s ease;
}
.video-slider__link-svg {
  fill: #DC0000;
  margin-left: 25px;
}

.animation-logo {
  margin-bottom: 110px;
}
.animation {
  position: relative;
}
.animation__logo-white {
  position: absolute;
  z-index: 1;
}
.animation__logo-black {
  position: absolute;
  top: 80px;
  z-index: 2;
}

.services {
  padding-top: 207px;
}
.services__container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 120px;
}
.services__inner {
  display: flex;
}
.services__title {
  font-size: 18px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}
.services__title-blocks {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 40px;
}
.services__title-blocks ::before {
  content: "";
  display: flex;
  width: 82.5px;
  border: 2px solid #DC0000;
  margin-bottom: 40px;
  margin-top: 70px;
}
.services__img {
  margin-bottom: 40px;
}
.services__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  margin-bottom: 40px;
}
.services__subtitle {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.5em;
  color: #DC0000;
  margin-bottom: 40px;
}
.services__list {
  margin-bottom: 40px;
}
.services__list-li {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  padding-left: 14px;
}
.services__list-li ::before {
  content: ".";
  position: absolute;
  margin-top: -4px;
  left: 0;
}
.services__list-li ::after {
  content: "";
  display: flex;
  border: 1px solid #DADADA;
}
.services__list-li :last-child::after {
  border: none;
}

.block-left {
  padding-right: 60px;
}

.block-right {
  padding-top: 184px;
}

.about {
  background-color: #F3F3F3;
}
.about__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}
.about__block-text {
  display: flex;
}
.about__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #868686;
}
.block-text__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}
.block-text__text {
  font-size: 18px;
  line-height: 170%;
}
.block-text__text p {
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */